fonts.dir
**/*.git/
**/*.git.*/
**/*.github
**/*history*
*history*
.fzf*/
**/fzf*
**/pavucontrol*
.aspnet/
.adobe/
.android/
.cache/
.cargo/
.cpan/
.cpanm/
.dotnet/
.eclipse/
.emacs.d/
.emacs.d/auto-save-list/
.emacs.d/elpa/
.emacs.d/init.el~
.emacs.d/places
.emacs.d.doom/
.fonts/
.gem/
.gimp-2.8/
.git/
.gitkraken/
.gnupg/
.gphoto/
.gradle/
.gsutil/
.icons/
.java/
.lemminx/
.local/
.m2/
.metadata/
.moc/
.mozilla/
.mysql/
.node-gyp/
.npm/
.nv/
.nuget/
.omnisharp/
.password-store/
.pki/
.pylint.d/
.redhat/
.rest-client/
.ssh/
.steam/
.swt/
.templateengine/
.texlive/
.thumbnails/
.tooling/
.urxvt/
.vim/
.vpython_cipd_cache/
.vpython-root/
.vscode/
.vscode-oss/
.vsts/
.w3m/
.webclipse/
.wine/
.yarn/
.zoom/
*.log
*.txt
.DS_Store
.bash_logout
.bash_profile
.calcurse/caldav/config
.calcurse/apts
.calcurse/keys
.calcurse/todo
.dmrc
.dmenurc
.fehbg
.i3/__pycache__/
.gitconfig
.gtk-bookmarks
.gtkrc-2.0
.lesshst
.mbsyncrc
.makepkg.conf
.netrc
.node_repl_history
.notmuch-config
.profile
.pulse-cookie
.python_history
.steampath
.steampid
.viminfo
.wget-hsts
.Xauthority
.Xclients
.xinitrc
.xsession-errors
.xsession-errors.old
.zcompdump
.zhistory
.zsh_history
.config/@joplin/
.config/.autostart/ewuVPN.sh
.config/.mono/
.config/Allegorithmic/
.config/BraveSoftware/
.config/Code/
.config/Doxygen.org/
.config/Electron/
.config/GIMP/
.config/GitKraken/
.config/Hacknet/
.config/Microsoft/
.config/Microsoft\ Teams\ -\ Preview/
.config/Open\ Sorcery/
.config/Office\ 365\ on\ Electron/
.config/JetBrains/
.config/Kvantum/
.config/Mousepad/
.config/NuGet/
.config/Unknown\ Organization/
.config/albert/
.config/autostart/
.config/awesome/
.config/balena-etcher-electron/
.config/blender/
.config/browsh/
.config/calcurse/
.config/cef_user-data/
.config/clipit/
.config/cef_user_data/
.config/configstore/
.config/coc/extensions/
.config/coc/commands
.config/coc/memos.json
.config/coc/list-commands-history.json
.config/coc/list-explorerFiles-history.json
.config/coc/list-location-history.json
.config/coc/snippets-mru
.config/dconf/
.config/discord/
.config/dmenu-recent/
.config/doom/
.config/evolution/
.config/emacs.d/auto-save-list/
.config/emacs.d/elpa/
.config/emacs.d/ede-projects.el
.config/emacs.d/init.el~
.config/emacs.d/places
.config/emacs.d/recentf
.config/emacs.d/recentf~
.config/falkon/
.config/fcitx/clipboard/
.config/fcitx/data/
.config/fcitx/log/
.config/fcitx/cached_layout
.config/fcitx/dbus/
.config/fcitx/skin/dark/
.config/fcitx/skin/default/
.config/font-manager/
.config/fontconfig/
.config/gcolor/
.config/gconf/
.config/google-chrome/
.config/gtk-2.0/
.config/gtk-3.0/
.config/hexchat/
.config/ibus/
.config/icloud-nativefier-4f0919/
.config/icloud-nativefier-7468b5/
.config/jgit/
.config/joplin-desktop/
.config/joplin/
.config/khal/
.config/libfm/
.config/libreoffice/
.config/lutris/
.config/lxsession/
.config/menus/
.config/morc_menu/
.config/mpd/
.config/mpv/watch_later
.config/msmtp/
.config/mozilla/
.config/mutt/
.config/newsboat/cache.db
.config/nitrogen/
.config/nomacs/
.config/nnn/
.config/nvim/.netrwhist
.config/nvim/autoload/
.config/nvim/plugged/
.config/nvim/undodir/
.config/nvim.old/.netrwhist
.config/nvim.old/autoload/
.config/nvim.old/plugged/
.config/nvim.old/undodir/
.config/nvim.plain/
.config/obsidian/
.config/obs-studio/
.config/onedrive/
.config/openrazer/
.config/pamac/
.config/pcmanfm/
.config/pipewire-media-session/
.config/pulse/
.config/pylint/
.config/qt5ct/
.config/ranger/__pycache__/
.config/ranger/commands.py
.config/ranger/devicons.py
.config/ranger/scope.sh
.config/ranger/zenburn.py
.config/ranger/plugins/
.config/rofi/applets/
.config/rofi/bin/
.config/rofi/launchers/
.config/rofi/powermenu/
.config/spotify/
.config/spotifyd/
.config/styluslabs/
.config/sublime-text-3/
.config/systemd/
.config/steam/
.config/ssl/
.config/teams/
.config/unity3d/
.config/vdirsyncer/
.config/vivaldi/
.config/vlc/
.config/volumeicon/
.config/wireshark/
.config/xarchiver/
.config/xfce4/
.config/zoom/
.config/zsh/
.config/Allegorithmic.conf
.config/QtProject.conf
.config/droidcam
.config/emaildefaults
.config/hub
.config/i3-scrot.conf
.config/okularpartrc
.config/okularrc
.config/picomDefault.conf
.config/pavucontrol.ini
.config/spotpris2.cfg
.config/user-dirs.dirs
.config/user-dirs.locale
.config/zoom.conf
.config/zoomus.conf
