set showmode
set ignorecase
set smartcase
set scrolloff=5 " 5 lines above/below cursor when scrolling

" Use Idea to join lines smartly
set ideajoin
nnoremap <space>c "+y
nnoremap <space>C "+Y
nnoremap <space>v "+p
nnoremap <space>V "+P
"These create newlines like o and O but stay in normal mode
nnoremap zj o<Esc>k
nnoremap zk O<Esc>j
nnoremap <space>q :action CloseContent<cr>
nnoremap <space>Q :action ReopenClosedTab<cr>
" Window navigation
nnoremap <space>h <c-w>h
nnoremap <space>l <c-w>l
nnoremap <space>k <c-w>k
nnoremap <space>j <c-w>j
" To navigate between split panes
nnoremap <space>sj :action NextSplitter<cr>
nnoremap <space>sk :action PrevSplitter<cr>
" Splits manipulation
nnoremap <space>Z :action SplitHorizontally<cr>
nnoremap <space>z :action SplitVertically<cr>
nnoremap <space>zu :action Unsplit<cr>
nnoremap <space>za :action UnsplitAll<cr>
nnoremap <space>wd :action OpenEditorInOppositeTabGroup<cr>
nnoremap <space><space> :action VimFilePrevious<cr>
nmap <space>ww :action JumpToLastWindow<cr>
nnoremap m $
nnoremap M ^
nnoremap dm d$
nnoremap dM d^
nnoremap <space>sa ggVG
